<div
  class="max-w-sm p-6 bg-white border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:py-5 hover:shadow-xl">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" id="matricola"></h5>
  <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Matricola:
    <span id="nominativo" class="font-normal"></span>
  </p>
  <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Nominativo:
    <span id="nominativo" class="font-normal"></span>
  </p>
  <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Ruolo:
    <span id="ruolo" class="font-normal"></span>
  </p>
  <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Reparto:
    <span id="reparto" class="font-normal"></span>
  </p>
  <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Eta:
    <span id="eta" class="font-normal"></span>
  </p>
  <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">indirizzo:
    <span id="indirizzo" class="font-normal"></span>
  </p>
  <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">città:
    <span id="citta" class="font-normal"></span>
  </p>
  <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">provincia:
    <span id="provincia" class="font-normal"></span>
  </p>
  <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">cap:
    <span id="telefono" class="font-normal"></span>
  </p>
  <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Eta:
    <span id="eta" class="font-normal"></span>
  </p>
</div>
