<div class="max-w-sm h-full p-6 bg-white border-gray-200 rounded-lg shadow dark:bg-gray-700 dark:border-gray-700 hover:py-5 hover:shadow-xl">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ nominativo }}</h5>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Matricola:
      <span id="nominativo" class="font-normal">{{ matricola }}</span>
    </p>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Ruolo:
      <span id="ruolo" class="font-normal">{{ ruolo }}</span>
    </p>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Reparto:
      <span id="reparto" class="font-normal">{{ reparto }}</span>
    </p>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">Eta:
      <span id="eta" class="font-normal">{{ eta }}</span>
    </p>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">indirizzo:
      <span id="indirizzo" class="font-normal">{{ indirizzo }}</span>
    </p>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">città:
      <span id="citta" class="font-normal">{{ citta }}</span>
    </p>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">provincia:
      <span id="provincia" class="font-normal">{{ provincia }}</span>
    </p>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">cap:
      <span id="cap" class="font-normal">{{ cap }}</span>
    </p>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">telefono:
      <span id="telefono" class="font-normal">{{ telefono }}</span>
    </p>
    <app-Activities [activity]="this.employer['attivitaDipendentes']" ></app-Activities>
  
  </div>
  
  <router-outlet></router-outlet> 